In [1]:
#load Library
import pandas as pd
import matplotlib.pyplot as pt
%matplotlib inline

In [3]:
#load Data
df = pd.read_excel('./BlueJaysThreeMonthScores1.xlsx', sheet_name='Sheet1')
df.head()

       Date Home or Away   Opponent  Blue Jays Score  Opponent Score Outcome
0  3/4/2017         Away  BALTIMORE              2.0             3.0    Lost
1  5/4/2017         Away  BALTIMORE              1.0             3.0    Lost
2  6/4/2017         Away  TAMPA BAY              5.0             2.0     Won
3  7/4/2017         Away  TAMPA BAY              8.0            10.0    Lost
4  8/4/2017         Away  TAMPA BAY              2.0             3.0    Lost

In [4]:
#Mean of Blue Jays scores
df['Blue Jays Score'].mean()

4.215189873417722

In [7]:
#Median of Blue Jay Scores
df['Blue Jays Score'].median()

4.0

In [8]:
#Standard Deviation of Blue Jays Score
df['Blue Jays Score'].std()

2.7950087659875806

In [9]:
#Count of Outcome
df['Outcome'].value_counts()

Lost         42
Won          37
Postponed     1
Name: Outcome, dtype: int64