In [1]:
#Load Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Load Dataset
dataset = pd.read_excel('./time_series_02042020172046.xlsx')
dataset.head()

,KPI ID,KPI_Year,KPI_DON_Code,NSO_ZON_name,NSO_DON_name,country,KPI_DonBlood_Tot_M,KPI_DonBlood_Tot_F,KPI_DonBlood_Tot_OtherSex,KPI_DonBlood_Tot,KPI_DonBlood_ddd
0,DAD0012012,2012,DAD001,Europe and Central Asia,Andorran Red Cross,Andorra,NaN,NaN,NaN,1000.0,NaN
1,DAD0012013,2013,DAD001,Europe and Central Asia,Andorran Red Cross,Andorra,NaN,NaN,NaN,1000.0,NaN
2,DAD0012014,2014,DAD001,Europe and Central Asia,Andorran Red Cross,Andorra,NaN,NaN,NaN,1200.0,NaN
3,DAD0012015,2015,DAD001,Europe and Central Asia,Andorran Red Cross,Andorra,NaN,NaN,NaN,1200.0,NaN
4,DAD0012016,2016,DAD001,Europe and Central Asia,Andorran Red Cross,Andorra,526.0,502.0,NaN,1028.0,NaN

In [4]:
# importing package
import pandas_profiling as pp
from IPython.display import IFrame

# Profile Report
dataset2 = pp.ProfileReport(dataset)
dataset2.to_file('viola.html')
display(IFrame('viola.html', width=900, height=350))